@page "/home"
@using System.Text.Json;
@using System.Net.Http;
@using System;
@using CountCountry.Data;

@if (ipInfoDetails == null)
{
    <p>Collecting Position Information...</p>
}
else
{
    <div>
        <h5>Details about your current location:</h5>
        <p>
            <strong>Time Zone:</strong>
            <span id="timezone">
            @countryInfoDevicePosition.timezone;
            </span>
        </p>
        <p>
            <strong>Country:</strong>
            <span id="country">
            @countryInfoDevicePosition.country, @countryInfoDevicePosition.countryCode;
            </span>
        </p>
        <p>
            <strong>State/City</strong>:
            <span id="city_region">
                @countryInfoDevicePosition.city; Code Postal: @countryInfoDevicePosition.zip
            </span>
        </p>
        <p>
            <strong>Global Position:</strong>
            <span>Lat: @countryInfoDevicePosition.lat ; Long: @countryInfoDevicePosition.lon</span>
        </p>
        <p>
            <strong>Equipement Network:</strong>
            @countryInfoDevicePosition.isp</p>
        <p> 
            <strong>IP Device: </strong>
            @countryInfoDevicePosition.query</p>
    </div>
}


@code {
    private IpApiDTO ipInfoDetails;
    public IpApiDTO countryInfoDevicePosition;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string apiUrl = "http://ip-api.com/json/";  
            /* https://freeipapi.com/api/json/ */

            using (HttpClient client = new HttpClient())
            {
                HttpResponseMessage response = await client.GetAsync(apiUrl);

                if (response.IsSuccessStatusCode)
                {
                    string apiIpAddress = await response.Content.ReadAsStringAsync();
                    if (!string.IsNullOrEmpty(apiIpAddress))
                    {
                         ipInfoDetails = JsonSerializer.Deserialize<IpApiDTO>(apiIpAddress);
                         countryInfoDevicePosition = ipInfoDetails;
                    }
                }
                else
                {
                    Console.WriteLine($"HTTP request failed with status code: {response.StatusCode}");
                }
            }

        
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}
